*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.social-media{
    display: inline;
    list-style-type: none;
}
.ad{
    display: flex;
    justify-content: space-around;
}
.nav-link:hover{
    color:orange;
}
.ds{
    display:flex;
    justify-content: space-around;
}
.site-menu{
    list-style-type: none;
}
li {
    display: inline;
  }
.nav-link{
    display:inline;
    padding:20px;
}
.gt{
    margin-left: 120px;
}
.shop{
    color:white;
    font-size:80px;
    position: relative;
    top:180px;
}
.gr{
    display:grid;
    grid-template-columns: 450px 450px 450px;
    gap:20px;
    margin-left:85px;
    margin-right:85px;

}
.tt{
    position: relative;
    bottom:150px;
    margin-top:170px;
}
.img-fluid{
    width:350px;
    height:350px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:orange;
}
.product-item{
    text-align:center;
}
.lin{
    color:black;
}
.lin:hover{
    color:orange;
}
.mr-1{
    color:white;
    background-color:black;
    padding-left:20px;
    padding-right:20px;
    
}
.mr-1:hover{
    color:black;
    background-color:white;
    border-color: black;
}
.ml-1{
    border-color: black;
    background-color:white;
    color:black;
    padding-left: 20px;
    padding-right:20px;
}
.ml-1:hover{
    background-color: black;
    color:white;
}
.mb-4{
    color:gray;
}
.cl:hover{
    background-color:black;
    border-color:black;
}
.text-center{
    text-align:center;
}
.section-sub-title{
    font-family:;
    font-size:15px;
    text-transform: uppercase;
    color:gray;
}
.section-title{
    font-weight:bolder;
}

.number{
    position: absolute;
    font-size:100px;
    font-weight:bolder;
    color:gray;
    opacity: 0.3;
}
.fl{
    display:grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap:30px;
    
}
.btn-outline-black{
    border-color: black;
    font-weight: bolder;        
}
.btn-outline-black:hover{
    background-color:black;
    color:white;
}
.ss{
    color:white;
    font-weight: bolder;
    background-color: black;
    border-color: black;
}
.ss:hover{
    color:black;
    background-color:white;
    border-color:black;
}
.cr{
    display:grid;
    grid-template-columns: 700px 300px;
    justify-content: center;
    gap:30px;
}
.experience{
    background-color: aquamarine;
    width:400px;
    height:100px;
    position: relative;
    left:320px;
    bottom:90px;
}
.year{
    color:white;
    font-size:40px;
    font-weight: bolder;
    margin-left:20px;
}
.caption{
    color:white;
    font-size:20px;
    margin-left:23px
}
.btn-black{
    background-color: black;
    color:white;
    font-weight: bolder;
}
.btn-black:hover{
    background-color: white;
    color:black;
    border-color:black;
}
.site-section{
    margin-top:40px;
}
.ca{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    gap:20px;
}
.btn-white{
    border:2px solid white;
    background-color: none;
    color:white;
    font-size:15px;
    font-weight: bolder;
}
.btn-white:hover{
    color:black;
    background-color:white;
}
.sa{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    gap:30px;
    justify-content: center;
}
.testimonial{
    text-align: center;
    
}
.sd{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    gap:30px
}
.sq{
    width:48%;
    float:left;
}
.sw{
    width:48%;
    float:right;
}
.text-black{
    margin-bottom: 20px;
    margin-top:10px;
}
.ft{
    display:grid;
    grid-template-columns: 250px 250px 250px;
}
.footer-heading{
    color:black;

}
.se{
    display:flex;
    justify-content: center;
}